<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
  <head>
    <title>Dalton Purnell</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav class="navbar navbar-default">
    <div class="container col-xs-8 col-centered">
      <div class="navbar-header">
        <%= link_to "Dalton Purnell", root_path, class: "navbar-brand" %>
      </div>

      <ul class="nav navbar-nav">
          <li><%= link_to "About Me", root_path %></li>
          <li><%= link_to "Experience", experience_index_path %></li>
          <li><%= link_to "Contact", contact_index_path %></li>
      </ul>
    </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
